* {
  /* border: dashed 1px rgba(168, 53, 0, 0.664); */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 8px 24px;
  border: 4px;
  border-radius: 16px;
}

a {
  text-decoration: none;
}

sup { vertical-align: top; font-size: 0.6em; }

p {
  text-align: center;
}

.hero-subtext {
  text-align: left;
}

.header {
  display: flex;
  justify-content: center;
}

.header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 auto;
}

.left-header,
.link-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 16px;
  justify-content: flex-end;
}

.hero-div,
.info-div,
.quote-div,
.careers-div,
.cards-div,
.left-hero,
.card,
.container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.left-hero {
  flex-direction: column;
  align-items: flex-start;
}

.right-hero {
  display: flex;
  align-items: center;
}

.info-div,
.card,
.quote-div {
  flex-direction: column;
  justify-content: flex-start;
}

.card {
  width: 200px;
}

.quote-div {
  flex-direction: column;
  gap: 0px;
}

.primary-color {
  background-color: #231a25;
}

.secondary-color {
  background-color: #e6edff;
}

.accent-color-one {
  background-color: #d8e0f5;
}

.accent-color-two,
button {
  background-color: #be92cc;
}

.header a {
  color: #e6e6e6;
}

.left-hero .hero{
  font-size: 48px;
  color: #eeeeee;
  font-weight: 1000;
  text-align: left;
}

.left-hero .hero-subtext {
  font-size: 18px;;
  color: #e6e6e6;
}

.info-text {
  font-size: 36px;
  font-weight: 600;
  color: #140e14
}

.card img {
  border: 4px solid #be92cc;
  border-radius: 16px;
}

.card p,
.quote-div {
  color: #130e13
}

q {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

strong {
  font-weight: 400;
}

.quote-from {
  font-size: 24px;
  font-weight: 500;
}

.careers-div,
.btn-career {
  color: #e6e6e6;
}

.career-header {
  font-size: 24px;
  font-weight: 600;
}

.btn-career {
  border: 4px solid;
  height: max-content;
}

.footer {
  color: #e6e6e6;
  text-align: center;
}

.header-inner {
  max-width: 1400px;
  padding: 16px;
}

.hero-div {
  min-height: 400px;
  flex-wrap: wrap;
  align-content: center;
  padding: 24px;
}

.left-hero {
  max-width: 500px;
  gap: 10px;
  flex: 0 1 auto;
}

.info-div {
  min-height: 450px;
  justify-content: flex-start;
  padding: 32px;
}

.info-text {
  text-align: center;
}

.cards-div {
  flex-wrap: wrap;
  gap: 40px;
}