* {
  border: dashed 1px rgba(168, 53, 0, 0.664);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

sup { vertical-align: top; font-size: 0.6em; }

p {
  text-align: center;
}

.hero-subtext {
  text-align: justify;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.left-header,
.link-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;
  justify-content: flex-end;
}

.hero-div,
.info-div,
.quote-div,
.modal-div,
.cards-div,
.card,
.info-text {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.info-div,
.card {
  flex-direction: column;
  justify-content: flex-start;
}

.card {
  width: 200px;
}